@font-face{
  font-family: 'Amsterdam Four';
  src: url('../fonts/Amsterdam_Four_ttf_400.ttf');
}

@font-face{
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Thin.ttf');
}

@font-face{
  font-family: 'Agrandir Bold';
  src: url('../fonts/Agrandir-Bold.otf');
}

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

a{
  color: #5C6244;
}

.page{
  width: 100%;
  min-height: 100vh;
  padding:0px 15px;
}

.main_menu{
  width: 1200px;
  max-width: 100%;
  margin:0 auto;
  padding:15px 0px;
  display: flex;
  margin-bottom: 25px;
}

.main_menu a{
  color: #5C6244;
  text-decoration: none;
  display: block;
  padding: 7.5px 10px;
  font-size:1.25em;
  font-family: 'Agrandir', sans-serif;
  margin-right: 25px;
  transition:border-bottom 0.5s;
  border-bottom:2px solid rgba(0,0,0,0);
}

.main_menu a.close{
  display: none;
  font-family: 'Agrandir Bold', sans-serif;
}

.main_menu a:hover,
.main_menu a.active{
  border-bottom:2px solid #5C6244;
}

#mobile_menu{
  display: none;
  text-align: right;
  width: 100%;
  padding: 20px 0px;
}

.wedding_menu{
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 20px;
}

.wedding_menu a{
  font-family: 'Agrandir', sans-serif;
  color: #FFFFFF;
  background-color: #5C6244;
  text-decoration: none;
  padding:10px 15px;
  border-radius: 10px;
}

.wedding_menu a:hover{
  border-bottom: 0px;
  opacity: 0.75;
  transition: 0.2s;
}

.wedding_menu a.active{
  font-family: 'Agrandir Bold', sans-serif;
}

.column{
  width: calc(50% - 25px);
  display: flex;
  flex-direction: column;
}

.title{
  color: #FFFFFF;
  margin: 0px;
  font-weight: normal;
  font-family: 'Agrandir', sans-serif;
  font-size: 4em;
  margin-bottom: 25px;
}

.text{
  font-family: 'Agrandir', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  color: #5C6244;
}

.text p{
  margin-top: 0px;
}

.text p.smaller{
  font-size: 0.85em;
}

.button{
  color: #FFFFFF;
  background-color: #5C6244;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px 0px;
  font-size:1.25em;
  font-family: 'Agrandir', sans-serif;
  transition: 0.2s;
}

.button:hover{
  opacity: 0.75;
}

.tiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  max-width: 100%;
  margin-top: 75px;
}

.tile{
  width: calc(33% - 50px);
  font-family: 'Agrandir', sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}

.tile.feature{
  width: 66%;
  padding-top: 50px;
  font-size: 1.4em;
}

.tile .heading{
  text-transform: uppercase;
  font-family: 'Agrandir Bold', sans-serif;
  color: #5C6244;
  margin-bottom: 10px;
  font-size: 1em;
  letter-spacing: 0.3em;
}

.tile .info{
  font-size: 1.5em;
}

.tile .submenu{
  padding: 0px;
  margin: 0px auto;
  list-style: none;
  text-align: left;
  width: 250px;
  margin-top: 10px;
}

.tile .submenu li{
  margin-bottom: 10px;
}

.tile .submenu li a{
  text-decoration: none;
  color: #5C6244;
  border-bottom:2px solid #F1EFDF;
  transition-duration: 0.5s;
  padding-bottom: 5px;
}

.tile .submenu li a:hover{
  border-bottom:2px solid #5C6244;
}

@media only screen and (max-width: 800px) {
  .page{
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .main_menu{
    flex-direction: column;
    background-color: #5C6244;
    width: 275px;
    max-width: 100%;
    position: absolute;
    top: 0px;
    right: -275px;
    z-index: 9999;
    height: 100vh;
    padding: 0px;
    transition-duration: 0.5s;
    margin-bottom: 0px;
  }

  .main_menu.active{
    right: 0px;
    transition-duration: 0.5s;
  }

  .main_menu a{
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    outline: none;
  }

  .main_menu a.close{
    display: block;
    border-bottom: 0px !important;
    text-align: right;
    padding-bottom: 0px;
    margin: 0px;
  }

  .main_menu a:hover,
  .main_menu a.active{
    border-bottom: 1px solid #FFFFFF;
  }

  #mobile_menu{
    display: block;
  }

  #mobile_menu img{
    width: 25px;
  }

  .contents{
    width: 100%;
    flex-wrap: wrap;
  }

  .column{
    width: 100%;
  }

  .title{
    font-size: 3.5em;
  }

  .tiles{
    margin-top: 40px;
  }

  .tile{
    width: 100%;
  }

  .tile.feature{
    width: 100%;
    padding-top: 0px;
    font-size: 1.25em;
  }

  .wedding_menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }

  .wedding_menu a{
    margin-bottom: 10px;
    text-align: center;
  }
}
