.page{
  background-color: #CBC1A6;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.title{
  width: calc(50% - 160px);
}

.versions{
  width: 160px;
  display: flex;
  flex-direction: column;
}

.versions .tab{
  background-color: #5C6244;
  color: #FFFFFF;
  font-family: 'Agrandir', sans-serif;
  padding: 10px;
  margin-bottom: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  opacity: 0.75;
  font-size: 1.15em;
}

.versions .tab:hover,
.versions .tab.active{
  opacity: 1;
  transition-duration: 0.2s;
}

.story{
  position: relative;
  width: 50%;
  height: 300px;
  border-left:2px solid #5C6244;
  margin-bottom: 15px;
}

.text{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
}

.text.active{
  opacity: 1;
  transition-duration: 0.5s;
}

img{
  width: 100%;
}
