.page{
  background-color: #F1EFDF;
}

.contents{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.columns{
  display: flex;
  justify-content: space-between;
}

.title{
  width: 100%;
  color: #5C6244;
  text-align: center;
}

.subtitle{
  font-family: 'Agrandir', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 1.75em;
  color: #5C6244;
  letter-spacing: 0.2em;
}

p{
  font-family: 'Agrandir', sans-serif;
  text-align: center;
  font-size: 4em;
  margin-top: 150px;
}

.main_menu{
  margin-bottom: 10px;
}
