.page{
  background-color: #CBC1A6;
}

.title{
  font-size: 2.75em;
}

.contents{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

img{
  width: 100%;
}

.main_menu{
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px){
  .contents a{
    font-size: 0.85em;
  }
}
